@model SiteSharper.ModuleContext

@{
	/*
		[0]: The id of the journal to use.
	*/
	
	var param = Model.Parameters;
	var journalId = Model.Parameters.Journal;
}

<div>
	<div class="column1of3">
		@{WriteLiteral(param[0]);}
	</div>
	<div class="vspace2"></div>
	<div class="column23of3">
		@{WriteLiteral(param[1]);}
	</div>
</div>

<div class="clear"/>
