@model SiteSharper.ModuleContext
@using System.Linq;

@{
	/*
		journal: The id of the journal to use.
	*/

	var param = Model.Parameters;
	string id = param.journal;
	
	var sitecontext = Model.SiteWriter;
	var journal = sitecontext.journalFor(id);
	var entries = journal.Entries;
	var j = journal.Journal;
}

<h3>@journal.Journal.Title</h3>

@if (j.Search_ != null)
{
	WriteLiteral(j.Search_.Inline);
}

<ul>
	@foreach(var entry in entries)
	{
		<li>
			<a href="/@entry.Id">
				<span class="light monospace">@entry.ShortDate » </span>
				@entry.Title
			</a>
		</li>
	}
</ul>
